.idea
.idea/**
*.idea/*
.idea/*
venv
.vscode
.vscode/**
.vscode/*
*.vscode/*
**venv**
venv/**
venv
venv/*
**__pycache__**
__pycache__/**
__pycache__
*.pyc
**/migrations/*
.env
.DS_Store
.idea/**
.idea/*
*.idea