{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="text-center" style="margin-top:8%;">
    <p><a class="text-center" href="/media/{{cust_receipt}}" download>Click & download</a><p>
    <p><a href="{% url 'home' %}" class="btn btn-success">Back to home</a><p>
</div>
{%endblock %}