{% extends 'base.html' %}
{% block title%} Upload|Receipt{% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success">
    <a class="close" href="#" data-dismiss="alert">×</a>
    {{ message }}
</div>
{% endfor %}
{% endif %}
<div class="header" style="background-color:rgb(253, 153, 23);padding:20px;">
    <h2 class="text-center" style="color:white;">UPLOAD RECEIPT</h2>
</div>
<div class="align-middle" style="margin-top:5%;">
    <div class="row">
        <div class="col-sm-5 col-md-5 col-lg-5"></div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="card" style="width: 16rem;height: 24rem;background-color:rgb(253, 153, 23);">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h4 class="text-center" style="padding:8%;color:white;">Upload Receipt</h4>
                    </div>
                    <div class="ibox-content container">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>{{form.as_p}}</p>
                            <button type="submit" class="btn btn-success btn-sm btn-block">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5"></div>
    </div>
</div>
{% endblock %}